.contactUs {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 70vh;
}

.item {
  width: 100%;
  height: 550px;
  max-width: 880px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  grid-template-columns: repeat(2, 5fr);
  display: grid;
  z-index: 1000;
}

.contact {
  background: #fff;
}
.login-form {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-text {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 35px;
  color: #6f4e37;
  font-weight: 600;
  text-align: center;
}

.second-text {
  font-weight: 500;
  color: #6f4e37;
  padding: 20px;
}

.image {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 230px;
}

.social-media {
  display: flex;
  list-style: none;
}

ul li {
  padding-left: 15px;
  font-size: 24px;
  margin-top: 10px;
}

.social-media i {
  background: #6f4e37;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  color: #fff;
}

.social-media i:hover {
  background: #fff;
  color: #6f4e37;
}

/*
.contactUs .left{
    padding: 100px;
    float: left;
    width: 50%;
    background: #cac5c5;
}
-- right --- 
.contactUs .right{
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    
}
*/

.wrapper {
  margin-right: 30px;
  position: relative;
  width: 400px;
  height: 500px;
  background: #000;
  box-shadow: 0 0 20px #01af6d;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}

.wrapper:hover {
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.form-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
  transform: translateY(-450px);
}

.wrapper .form-wrapper.sign-up {
  position: absolute;
  top: 500px;
  left: 0;
}

.wrapper.active .form-wrapper.sign-up {
  transform: translateY(-500px);
}

/* .sign-up h2 {
    font-size: 30px;
    color: #fff;
    text-align: center; 
} */
.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -5px;
}

.remember {
  margin: -5px 0 15px 5px;
}
.remember label {
  color: #fff;
  font-size: 14px;
}
.remember label input {
  accent-color: #01af6d;
}

/* button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #01af6d;
    box-shadow: 0 0 10px #01af6d;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
} */

.signUp-link {
  text-align: center;
  margin: 15px 0;
}

.signUp-link p {
  color: #fff;
  font-size: 14px;
}

.signUp-link p a {
  color: #01af6d;
  text-decoration: none;
  font-weight: 500;
}

.signUp-link p a:hover {
  text-decoration: underline;
}
