:root {
  --gray: #d9d9d9;
  --iphone: #f2f2f2;
  --red: #e63946;
  --green: #01af6d;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg1 {
  width: 100%;
  height: 100vh;
  float: left;
}
.navHead {
  width: 100%;
  height: 80px;
  background: var(--green);
  position: fixed;
  top: 0%;
  float: left;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logoStabuck {
  width: 400px;
  height: 80px;
  background: var(--iphone);
  border-radius: 8px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.logoStabuck img {
  margin-top: -40px;
  margin-left: 60px;
}
.navigation {
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation ul {
  list-style: none;
}
.navigation li {
  display: inline-block;
  margin-top: 12px;
}
.navigation a {
  text-decoration: none;
  padding: 0px 40px;
  color: white;
  font-size: 20px;
}
.navigation a:hover {
  color: rgb(209, 209, 209);
}
.search {
  width: 24%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  width: 400px;
  float: right;
  border-radius: 18px;
}
.search input::placeholder {
  padding-left: 30px;
}
.search .fa-magnifying-glass {
  position: absolute;
  margin-left: 16px;
  font-size: 18px;
}
.search .fa-store {
  float: right;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
#count-number {
  width: 25px;
  height: 25px;
  border: 50%;
  position: absolute;
  right: 65px;
  top: 10px;
  border-radius: 50%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.head {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  float: left;
}
.sickLeaves1 {
  height: 600px;
  width: 200px;
  position: absolute;
  top: 0%;
  left: 0%;
  filter: blur(0px);
}
.posterCafe {
  position: absolute;
  right: 260px;
  top: 250px;
}
.posterCafe img {
  animation: cafe 3s linear infinite;
}
@keyframes cafe {
  50% {
    transform: translateY(40px);
  }
}
.kreabCafe1 {
  position: absolute;
  right: 620px;
  top: 720px;
}
#kreabCafe2 {
  position: absolute;
  right: 0px;
  top: 640px;
  z-index: 20;
}
.boxLetter {
  width: 880px;
  height: 500px;
  position: absolute;
  left: 220px;
  top: 220px;
}
.popular {
  width: 500px;
  height: 120px;
}
.popular h1 {
  font-size: 70px;
  color: rgb(0, 0, 0);
  font-weight: 700 !important;
}
.letter,
p {
  height: 190px;
  width: 100%;
  font-size: 18px;
}
.viewOption button {
  width: 125px;
  height: 44px;
  border: 1.5px solid var(--green);
  background: var(--white);
  transition: 0.3s;
  font-size: 18px;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  top: 380px;
  left: 0%;
}
.viewOption button::before {
  content: "";
  width: 0px;
  height: 44px;
  background: var(--green);
  position: absolute;
  top: 0%;
  right: 50%;
  transition: 0.3s;
  z-index: -1;
}
.viewOption button::after {
  content: "";
  width: 0px;
  height: 44px;
  background: var(--green);
  position: absolute;
  top: 0%;
  left: 50%;
  transition: 0.3s;
  z-index: -1;
}
.viewOption button:hover::before {
  width: 50%;
}
.viewOption button:hover::after {
  width: 50%;
}
.viewOption button:hover {
  color: rgb(255, 255, 255);
}
.boxOrdered {
  width: 300px;
  height: 550px;
  background: var(--green);
  float: right;
  position: fixed;
  top: 100px;
  right: 0%;
  border-radius: 14px;
  z-index: 100;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.titleOrdered {
  width: 100%;
  height: 25px;
  float: right;
  background: white;
  color: #01af6d;
}
.titleOrdered tr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
