.googleMap {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: lightblue;
  margin-bottom: 60px;
}

.map-text {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
  color: #000;
}
.googleMap iframe {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 70%;
  height: 700px;
  filter: invert(100%);
  border-radius: 40px;
  box-shadow: 0 0 15px 8px #fff;
}
