.our_team{
    font-family: Arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
  }
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

.column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

.circle-border {
    position: relative;
    width: 310px;
    height: 300px;
    border-radius: 10%;
    border: 3px solid #01af6d;
    overflow: hidden;
    margin: auto;
    transition: transform 0.3s ease-in-out;
    left: 15%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }

.circle-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .circle-border:hover{
    transform: scale(1.1);
  }
.text-overlay {
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    font-family: Arial, sans-serif;
    font-style: oblique;
    font-size: 22px;
    color: #01af6d;
    font-weight: bold;
}

.text-overlay ul{
    list-style: none;
}
.text-overlay a{
  text-decoration: none;
  color:dodgerblue;
}
.iconFbTe a:hover{
  color: dodgerblue;
}
.circle-border:hover .text-overlay {
    display: block;
    opacity: 1;
    border: 2px solid;
    width: 400px;
    height: 150px;
    margin: 2px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.team-heading {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-top: 130px;
  margin-left: 780px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #01af6d;
  text-align: center;
  width: 300px;
  border: 2px solid #01af6d;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
