:root {
    --gray: #d9d9d9;
    --iphone: #f2f2f2;
    --red: #e63946;
    --green: #01af6d;
  }
  * {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .promotion {
    width: 100%;
    height: 100vh;
    float: left;
    background: lightgreen;
  }