:root {
  --gray: #d9d9d9;
  --iphone: #f2f2f2;
  --red: #e63946;
  --green: #01af6d;
  --title: #0e0e0e;
  --span: #212121;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.product-cafe {
  width: 100%;
  float: left;
}
.product-cafe .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-cafe .card:hover {
  transform: scale(1.03);
  transition: linear 0.3;
  border: solid var(--green);
}
.card img {
  width: 100%;
  height: 267px;
}
.container-cafe {
  width: 80%;
  margin-left: 10%;
}
.box-cafe {
  width: 320px !important;
}
